@charset "UTF-8";

:root {
  --main-font: "Zen Kaku Gothic New", sans-serif;
  --font-color: #231815;
  --subfont-color: rgb(255, 240, 240);
  --main-color: rgb(250, 250, 250);
  --back-color: #c2f6ff;
  --blue-color: #4477e9;
  --light-blue-color: #f3f7ff;
  --orange-color: #ffbd2b;
  --light-orange-color: #fff9f3;
  --red-color: #f9643c;
  --light-red-color: #fff3ef;
  --green-color: #22cd83;
  --light-green-color: #eff8f5;
  --pctxt-fontsize: clamp(14px, 16px, 18px);
  --pctxt-linehight: calc(var(--pctxt-fontsize) * 2);
  --sptxt-fontsize: clamp(11px, 13px, 15px);
  --sptxt-linehight: calc(var(--sptxt-fontsize) * 2);
  --light-weight: 300;
  --nomal-weight: 400;
  --bold-weight: 500;
  --heavy-weight: 700;
  --main-hight: 600dvh;
  --blue-hight: 100dvh;
  --orange-hight: 350dvh;
  --red-hight: 150dvh;
  --green-hight: 100dvh;
}

@media screen and (max-width: 500px) {
  :root {
    --main-hight: 5500px;
    --blue-hight: 1000px;
    --orange-hight: 3000px;
    --red-hight: 1500px;
  }
}

a {
  pointer-events: auto;
}

a:link {
  color: var(--font-color);
  text-decoration: none;
}

a:visited {
  color: var(--font-color);
  text-decoration: none;
}

a:hover {
  color: var(--blue-color);
}

a:active {
  color: var(--blue-color);
}

@media screen and (max-width: 500px) {
  a:link {
    color: #fff;
    text-decoration: none;
  }
  a:visited {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
  }

  a:active {
    color: #fff;
    text-decoration: none;
  }
}

model-viewer::part(default-progress-bar) {
  display: none;
}

/* ページ全体のスクロールバーを非表示にする */
html {
  -ms-overflow-style: none; /* IE, Edge（レガシー）対応 */
  scrollbar-width: none; /* Firefox対応 */
}

/* WebKit系ブラウザ（Chrome, Safari, 新Edgeなど）対応 */
html::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: var(--main-font);
  background-color: var(--back-color);
  font-weight: var(--heavy-weight);
}

#header {
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 50;
  pointer-events: none;
}

.logo {
  width: 100px;
  height: 100%;
}

.logo img {
  height: 100%;
  width: auto;
}

.nav {
  padding-left: 50px;
  padding-right: 50px;
  height: 50px;
  width: 600px;
  border-radius: 25px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sp-logo {
  display: none;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 80px;
  position: fixed;
  z-index: 50;
}

.sp-logo img {
  height: 100%;
  width: auto;
}

/* ボタンの基本設定 */
.hamburger-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 205; /* ナビゲーションより常に上に配置 */
  width: 100px;
  height: 50px;
  border-radius: 25px 0 0 25px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  appearance: none;
}

/* 2本の横線 */
.hamburger-line {
  position: absolute;
  left: 20px;
  height: 2px;
  background-color: var(--blue-color);
  transition:
    transform 0.3s ease-in-out,
    top 0.3s ease-in-out;
}

/* 2本線の初期位置 */
.hamburger-line:first-child {
  top: 18px;
  width: 60px;
}
.hamburger-line:last-child {
  top: 28px;
  width: 30px;
}

/* バツ印への変化（アクティブ時） */
.hamburger-btn.is-active .hamburger-line:first-child {
  top: 24px;
  width: 30px;
  transform: rotate(45deg);
}
.hamburger-btn.is-active .hamburger-line:last-child {
  top: 24px;
  width: 30px;
  transform: rotate(-45deg);
}

/* ナビゲーション画面 */
.sp-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--blue-color);
  color: #fff;
  z-index: 200; /* ボタンの1つ下に配置 */
  transform: translateX(100%); /* 初期状態は右画面外 */
  transition: transform 0.4s ease-in-out;
}

.sp-nav-logo {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.sp-nav-logo img {
  margin-left: 20px;
  height: 70px;
  width: 70px;
}

.sp-nav-box {
  padding-top: 100px;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sp-nav-txt {
  font-size: 25px;
  font-weight: bold;
}

.sp-nav-subbox {
  padding-top: 100px;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 15px;
  font-weight: var(--nomal-weight);
}

/* ナビゲーション表示（アクティブ時） */
.sp-nav.is-active {
  transform: translateX(0);
}

@media screen and (max-width: 500px) {
  #header {
    display: none;
  }

  .sp-logo {
    display: block;
  }

  .hamburger-btn {
    display: block;
  }
}

.heroglb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
}

#hero {
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  position: relative;
}

.herotxt {
  width: 40dvw;
  height: 30dvh;
  position: absolute;
  z-index: 10;
  bottom: 50px;
  left: 50px;
  background-image: url(../images/tagline.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}

@media screen and (max-width: 500px) {
  .herotxt {
    width: 100%;
    height: 200px;
    bottom: 10px;
    left: 0;
    background-image: url(../images/tagline_b.svg);
  }
}

.back-content-wrapper-blue {
  top: 100dvh;
  width: 100%;
  height: var(--main-hight);
  position: absolute;
  contain: paint;
  z-index: 3;
}
.back-content-wrapper-org {
  top: 100dvh;
  width: 100%;
  height: var(--main-hight);
  position: absolute;
  contain: paint;
  z-index: 2;
}
.back-content-wrapper-red {
  top: 100dvh;
  width: 100%;
  height: var(--main-hight);
  position: absolute;
  contain: paint;
  background-color: #fff;
  z-index: 1;
}

.blue-back {
  height: var(--blue-hight);
  width: 100%;
  position: relative;
}

.blue-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/blueellipse-light.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-10deg);
  scale: 1.5;
  z-index: -1;
}

.org-backbox {
  margin-top: var(--blue-hight);
  height: var(--orange-hight);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.org-back {
  top: 0;
  position: sticky;
  height: 100dvh;
  width: 100vw;
  background-image: url(../images/orgellipse-light.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.org-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/orgellipse-light.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(10deg);
  scale: 1.5;
}

.red-back {
  margin-top: calc(var(--blue-hight) + var(--orange-hight));
  height: var(--red-hight);
  width: 100%;
  position: relative;
}

.red-back::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/redellipse-light.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-10deg);
  scale: 1.5;
  z-index: -1;
}

@media screen and (max-width: 500px) {
  .back-content-wrapper-blue {
    top: 100dvh;
    height: var(--main-hight);
  }
  .back-content-wrapper-org {
    top: 100dvh;
    height: var(--main-hight);
  }
  .back-content-wrapper-red {
    top: 100dvh;
    height: var(--main-hight);
  }

  .blue-back {
    height: var(--blue-hight);
  }

  .blue-back::before {
    transform: rotate(-40deg);
    scale: 4;
    z-index: -1;
  }

  .org-backbox {
    margin-top: var(--blue-hight);
    height: var(--orange-hight);
  }

  .org-back {
    z-index: -1;
  }

  .org-back::before {
    transform: rotate(40deg);
    scale: 4;
  }

  .red-back {
    margin-top: calc(var(--blue-hight) + var(--orange-hight));
    height: var(--red-hight);
  }

  .red-back::before {
    transform: rotate(-40deg);
    scale: 5;
    z-index: -1;
  }
}

.content-wrapper {
  top: 100dvh;
  width: 100%;
  position: absolute;
  z-index: 5;
}

section {
  width: 100%;
}

#blue {
  height: var(--blue-hight);
}

.blue-ctt {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-txtbox {
  height: 500px;
  width: 600px;
}

.blue-tab {
  border-left: 3px solid var(--blue-color);
  margin-top: 50px;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  line-height: 35px;
  font-size: 24px;
  font-weight: var(--nomal-weight);
  color: var(--blue-color);
}

.blue-ttl {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-image: url(../images/title_01.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.blue-txt {
  margin-top: 40px;
  font-size: var(--pctxt-fontsize);
  line-height: var(--pctxt-linehight);
  font-weight: var(--bold-weight);
}

.blue-btnbox {
  margin-top: 50px;
  height: 70px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.blue-btntxt {
  width: 220px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background-color: var(--blue-color);
}

.blue-btn {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--blue-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-glb {
  height: 600px;
  width: 600px;
  background-image: url(../images/blueellipse.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blueglb {
  width: 750px;
  height: 750px;
}

@media screen and (max-width: 500px) {
  #blue {
    padding-left: 20px;
    padding-right: 20px;
  }

  .blue-ctt {
    flex-direction: column;
  }

  .blue-txtbox {
    height: 450px;
    width: 100%;
  }

  .blue-tab {
    border-left: 3px solid var(--blue-color);
    margin-top: 50px;
    padding-left: 10px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 24px;
  }

  .blue-ttl {
    margin-top: 20px;
    height: 50px;
    width: 100%;
  }

  .blue-txt {
    margin-top: 40px;
    font-size: var(--sptxt-fontsize);
    line-height: var(--sptxt-linehight);
  }

  .blue-btnbox {
    margin-top: 20px;
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .blue-btntxt {
    width: 220px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blue-btn {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blue-glb {
    height: 400px;
    width: 80%;
    background-image: url(../images/blueellipse.svg);
    background-position: center 75%;
  }

  .blueglb {
    width: 100%;
    height: 100%;
  }
}

#orange {
  height: var(--orange-hight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-ctt {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.org-txtbox {
  margin-left: 50px;
  height: 100%;
  width: 600px;
}

.org-tab {
  border-left: 3px solid var(--orange-color);
  margin-top: 50px;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  line-height: 35px;
  font-size: 24px;
  font-weight: var(--nomal-weight);
  color: var(--orange-color);
}

.org-ttl {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-image: url(../images/title_02.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.org-txt {
  margin-top: 40px;
  font-size: var(--pctxt-fontsize);
  line-height: var(--pctxt-linehight);
  font-weight: var(--bold-weight);
}

.org-txtttl {
  font-weight: var(--heavy-weight);
}

.txtback-org {
  background: linear-gradient(to bottom, transparent 50%, var(--orange-color) 50%);
}

.org-btnbox {
  margin-top: 50px;
  height: 70px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.org-btntxt {
  width: 220px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color);
  background-color: var(--orange-color);
}

.org-btn {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--orange-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.org-glb {
  top: 0;
  position: sticky;
  height: 600px;
  width: 600px;
  background-image: url(../images/orgellipse.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orgglb {
  width: 750px;
  height: 750px;
}

.m-org-glb {
  display: none;
}

.org-imgbox {
  margin-top: 40px;
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;
}

.org-img {
  top: 0;
  left: 0;
  width: 98%;
  aspect-ratio: 3/2;
  position: absolute;
  background-size: cover;
  background-position: center;
  z-index: 10;
}

.org-img1 {
  background-image: url(../images/org-img1.webp);
}
.org-img2 {
  background-image: url(../images/org-img2.webp);
}
.org-img3 {
  background-image: url(../images/org-img3.webp);
}

.org-imgback {
  bottom: 0;
  right: 0;
  width: 98%;
  aspect-ratio: 3/2;
  position: absolute;
  background-color: var(--orange-color);
  z-index: 5;
}

.org-imgtxt {
  font-weight: var(--bold-weight);
  font-size: var(--pctxt-fontsize);
  color: rgb(120, 120, 120);
}

@media screen and (max-width: 500px) {
  #orange {
    padding-left: 20px;
    padding-right: 20px;
  }

  .org-ctt {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
  }

  .org-txtbox {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
  }

  .org-tab {
    border-left: 3px solid var(--orange-color);
    margin-top: 50px;
    padding-left: 10px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 24px;
    font-weight: var(--nomal-weight);
    color: var(--orange-color);
  }

  .org-ttl {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    background-image: url(../images/title_02.svg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
  }

  .org-txt {
    margin-top: 40px;
    font-size: var(--sptxt-fontsize);
    line-height: var(--sptxt-linehight);
    font-weight: var(--bold-weight);
  }

  .org-btnbox {
    margin-top: 20px;
    height: 70px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .org-btntxt {
    width: 220px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    background-color: var(--orange-color);
  }

  .org-btn {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background-color: var(--orange-color);
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .org-glb {
    top: 0;
    position: relative;
    height: 400px;
    width: 80%;
    background-image: url(../images/orgellipse.svg);
    background-position: center 80%;
  }

  .orgglb {
    width: 100%;
    height: 100%;
  }

  .p-org-glb {
    display: none;
  }

  .m-org-glb {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .org-imgbox {
    margin-top: 40px;
    width: 100%;
    aspect-ratio: 3/2;
    position: relative;
  }

  .org-img {
    top: 0;
    left: 0;
    width: 98%;
    aspect-ratio: 3/2;
    position: absolute;
    background-size: cover;
    background-position: center;
    z-index: 10;
  }

  .org-imgback {
    bottom: 0;
    right: 0;
    width: 98%;
    aspect-ratio: 3/2;
    position: absolute;
    background-color: var(--orange-color);
    z-index: 5;
  }

  .org-imgtxt {
    font-weight: var(--bold-weight);
    font-size: var(--sptxt-fontsize);
    color: rgb(120, 120, 120);
  }
}

#red {
  height: var(--red-hight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-ctt {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red-txtbox {
  margin-right: 50px;
  height: 500px;
  width: 600px;
}

.red-tab {
  border-left: 3px solid var(--red-color);
  padding-left: 10px;
  height: 35px;
  width: 100%;
  line-height: 35px;
  font-size: 24px;
  font-weight: var(--nomal-weight);
  color: var(--red-color);
}

.red-ttl {
  margin-top: 20px;
  height: 50px;
  width: 100%;
  background-image: url(../images/title_03.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.red-txt {
  margin-top: 40px;
  font-size: var(--pctxt-fontsize);
  line-height: var(--pctxt-linehight);
  font-weight: var(--bold-weight);
}

.red-imgwapper {
  margin-top: 40px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.red-imgbox {
  width: 30%;
  height: 100%;
}

.red-img1,
.red-img2,
.red-img3 {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.red-img1 {
  background-image: url(../images/red-img1.jpg);
}
.red-img2 {
  background-image: url(../images/red-img2.jpg);
}
.red-img3 {
  background-image: url(../images/red-img3.jpg);
}

.red-imgtxt {
  margin-top: 5px;
  font-size: 12px;
  font-weight: var(--bold-weight);
  color: var(--red-color);
}

.movie-box {
  display: none;
}

.red-glb {
  height: 600px;
  width: 600px;
  background-image: url(../images/redellipse.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redglb {
  width: 750px;
  height: 750px;
}

@media screen and (max-width: 500px) {
  #red {
    padding-left: 20px;
    padding-right: 20px;
  }

  .red-ctt {
    height: 100%;
    width: 100%;
    flex-direction: column;
  }

  .red-txtbox {
    margin: 0;
    height: 350px;
    width: 100%;
  }

  .red-tab {
    border-left: 3px solid var(--red-color);
    padding-left: 10px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 24px;
  }

  .red-ttl {
    margin-top: 20px;
    height: 50px;
    width: 100%;
  }

  .red-txt {
    margin-top: 40px;
    font-size: var(--sptxt-fontsize);
    line-height: var(--sptxt-linehight);
  }

  .red-imgwapper {
    margin-top: 40px;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .red-imgbox {
    width: 30%;
    height: 100%;
  }

  .red-img1,
  .red-img2,
  .red-img3 {
    height: 100px;
    width: 100%;
    border-radius: 10px;
  }

  .red-imgtxt {
    margin-top: 5px;
    font-size: 12px;
  }

  .movie-box {
    height: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .movie-item {
    height: 33%;
    width: 80%;
    text-align: left;
    color: var(--red-color);
  }

  .movie-item iframe {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 20px;
    display: block;
  }

  .red-glb {
    height: 300px;
    width: 80%;
    background-position: center 70%;
  }

  .redglb {
    width: 100%;
    height: 100%;
  }
}

#green {
  padding-bottom: 10px;
  height: var(--green-hight);
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.grn-ctt {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green-color);
}

.grn-txtbox {
  height: 500px;
  width: 400px;
}

.grn-tab {
  border-left: 3px solid var(--green-color);
  margin-top: 50px;
  padding-left: 10px;
  height: 35px;
  width: 100%;
  line-height: 35px;
  font-size: 24px;
  font-weight: var(--nomal-weight);
  color: var(--green-color);
}

.grn-ttl {
  margin-top: 20px;
  height: 100px;
  width: 100%;
  background-image: url(../images/title_04.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.grn-txt {
  margin-top: 40px;
  font-size: var(--pctxt-fontsize);
  line-height: var(--pctxt-linehight);
  font-weight: var(--bold-weight);
}

.grn-glb {
  height: 600px;
  width: 600px;
  background-image: url(../images/grnellipse.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grnglb {
  width: 750px;
  height: 750px;
}

@media screen and (max-width: 500px) {
  #green {
    padding-bottom: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .grn-ctt {
    padding-left: 20px;
    padding-right: 20px;
    height: 80%;
    width: 100%;
    flex-direction: column;
  }

  .grn-txtbox {
    height: 50%;
    width: 100%;
  }

  .grn-tab {
    border-left: 3px solid var(--green-color);
    margin-top: 50px;
    padding-left: 10px;
    height: 35px;
    width: 100%;
    line-height: 35px;
    font-size: 24px;
  }

  .grn-ttl {
    margin-top: 20px;
    height: 100px;
    width: 100%;
  }

  .grn-txt {
    margin-top: 40px;
    font-size: var(--sptxt-fontsize);
    line-height: var(--sptxt-linehight);
  }

  .grn-glb {
    height: 50%;
    width: 80%;
    background-position: center 90%;
  }

  .grnglb {
    width: 100%;
    height: 100%;
  }
}

#footer {
  width: 100%;
  height: 100dvh;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-ctt {
  bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.ftrlogo {
  width: 80px;
  height: 100%;
  background-image: url(../images/sisyou_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.ftrnav {
  height: 100%px;
  width: 600px;
  text-align: right;
  color: var(--main-color);
}
